@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* debuggers */
.dbg-red {
  @apply border border-red-400;
}
.dbg-green {
  @apply border border-green-400;
}

/* containers */
.homepage-container {
  @apply mx-auto  max-w-[1280px];
}
.page-container {
  @apply mx-auto px-5 max-w-[1280px];
}
